@using BlogSitesi.Data.Model
    @model BlogSitesi.ViewModels.BlogKategoriViewModel
    @{
        ViewBag.Title = "Index";
    }

    <h2><b>Blog Yaz</b></h2>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box p-l-20 p-r-20">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-material form-horizontal" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <label class="col-md-12">Blog Başlığı</label>
                                <div class="col-md-12">
                                    <input id="baslik" type="text" class="form-control form-control-line" name="baslik" value="Başlık Giriniz...">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Blog Metni</label>
                                <div class="col-md-12">
                                    <textarea id="metin" class="form-control" name="metin" rows="5"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-12">Kullanıcı Seçiniz</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <select id="kullanicilar" class="form-control" name="kullanicilar">
                                            @foreach (var kullanici in Model.Kullanicilar)
                                            {
                                                <option value="@kullanici.KullaniciId">@kullanici.KullaniciAd</option>
                                            }
                                        </select>
                                        <span class="input-group-btn">
                                            <input type="button" id="kullaniciSec" class="btn btn-info" style="background-color: #405D72" value="Seç" />
                                        </span>
                                    </div>
                                    <br />
                                    <div id="eklelenKullanici" class="form-group">
                                        <label class="col-md-12" style="border: 2px solid #405D72; padding: 5px; display: inline-block; background-color: #405D72; color: white; text-align: center; width: fit-content;">Kullanıcı</label>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-12">Kategori Seçiniz</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <select id="kategoriler" class="form-control" name="kategoriler">
                                            @foreach (var ktg in Model.Kategoriler)
                                            {
                                                <option value="@ktg.KategoriId">@ktg.KategoriAd</option>
                                            }
                                        </select>
                                        <span class="input-group-btn">
                                            <input type="button" id="kategoriSec" class="btn btn-info" style="background-color: #405D72" value="Seç" />
                                        </span>
                                    </div>
                                    <br />
                                    <div id="eklenenKategoriler" class="form-group">
                                        <label class="col-md-12" style="border: 2px solid #405D72; padding: 5px; display: inline-block; background-color: #405D72; color: white; text-align: center; width: fit-content;">Kategoriler</label>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label id="resimLabel" class="col-sm-12">Resim Yükle</label>
                                <div class="col-sm-12">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">Dosya Seç</span>
                                            <span class="fileinput-exists">Değiştir</span>
                                            <input type="file" id="resim" name="resim">
                                        </span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Sil</a>
                                    </div>
                                </div>
                            </div>
                            <input type="button" id="blogKaydet" style="background-color: #405D72" value="Kaydet" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Main.js"></script>


